# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Streamlit & local cache
.streamlit/
*/.streamlit/

# Jupyter / VSCode / System
.ipynb_checkpoints/
.vscode/
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Test artifacts
.coverage
htmlcov/
pytest_cache/
